vibe-music-495120-b8de0bf58eac.json
backend/node_modules/
android/.kotlin/
android/.gradle/
android/app/build/
backend/node_modules/
/.idea/
.DS_Store# Android
**/build/
*.iml
.gradle
local.properties
.idea/

# Backend / Node
node_modules/
.env

# Secrets / Keys
# *.json  <-- Removed this as it ignores package.json
*.keystore
*.jks
google-services.json

# OS
.DS_Store
Thumbs.db
