# Android
**/build/
*.iml
.gradle
local.properties
.idea/

# Backend / Node
node_modules/
.env

# Secrets / Keys
# *.json  <-- Removed this as it ignores package.json
*.keystore
*.jks
google-services.json

# OS
.DS_Store
Thumbs.db
